{{>admin/admin_header}}


<div class="container mt-5">
    <h1>결제</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Pay Key</th>
            <th>결제한 유저 ID</th>
            <th>주문번호</th>
            <th>주문내역</th>
            <th>금액</th>
            <th>결제 방법</th>
            <th>요청 시간</th>

        </tr>
        </thead>

        <tbody>
        <!-- 환불하기 버튼-->
        {{#paymentList}}
            <tr>
                <td>{{id}}</td>
                <td>{{paymentKey}}</td>
                <td>{{userId}}</td>
                <td>{{orderId}}</td>
                <td>{{orderName}}</td>
                <td>{{amount}}</td>
                <td>{{method}}</td>
                <td>{{requestedAt}}</td>
            </tr>
        {{/paymentList}}
        {{^paymentList}}
            <tr>
                <td colspan="8" class="text-center">결제내역이 없습니다</td>
            </tr>
        {{/paymentList}}
        </tbody>
    </table>

</div>


</body>
</html>

<script>
    function refund(id){

        fetch('http://localhost:8080/toss/refund', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            "id": id,
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('네트워크 오류');
        }
        return response.json();
    })
    .then(data => {
        console.log("응답:", data);
    })

    .catch(error => {
        console.error("에러 발생:", error);
    });
    }

</script>