
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style type="text/css">
    .pageBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>

{{>admin/admin_header}}
<div class="main-board">
        <h3 class="sub-title" >Notice</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {{#noticeList}}
            <tr>
                <td><a href="/notice/detail/{{id}}">{{title}}</a></td>
                <td>{{createdAt}}</td>
            </tr>
        {{/noticeList}}
        {{^noticeList}}
            <tr>
                <td colspan="2" class="text-center">등록된 공지사항이 없습니다.</td>
            </tr>
        {{/noticeList}}
        </tbody>
    </table>
    <div class="pageBtn">
    <button class="btn btn-secondary" onclick="location.href='/notice/{{lastPage}}'">이전 페이지</button>
    <button class="btn btn-primary" onclick="location.href='/notice/{{currentPageNum}}'">{{currentPageNum}}</button>
    <button class="btn btn-secondary" onclick="location.href='/notice/{{nextPage}}'">다음 페이지</button>
    </div>
</div>


