{{>layout/header}}
<div id ="chatbot">{{>layout/chatbot}}</div>
<div id ="chat">{{>layout/chat}}</div>

<style>
    .freelancer-box h5 b {
        display: inline-block;
        width: 100%; /* 또는 원하는 너비 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="main-board-box">
    <div class="ad-board">
        <div class="ad-bar">
            <img src="images/icons/left.png" class="icons" id="prevAd" style="cursor: pointer;">
            <div class="ad-outer">
                <div class="ad-inner">
                    <img src="images/ads/ad1.png" class="ad-img" style="box-shadow: 2px 2px 5px #d0ccc9">
                    <img src="images/ads/ad2.png" class="ad-img" style="box-shadow: 2px 2px 5px #d0ccc9">
                    <img src="images/ads/ad3.png" class="ad-img" style="box-shadow: 2px 2px 5px #d0ccc9">
                    <img src="images/ads/ad4.png" class="ad-img" style="box-shadow: 2px 2px 5px #d0ccc9">
                    <img src="images/ads/ad5.png" class="ad-img" style="box-shadow: 2px 2px 5px #d0ccc9">
                </div>
            </div>
            <img src="images/icons/right.png" class="icons" id="nextAd" style="cursor: pointer;">
        </div>
        <div class="ad-progress">
            <h6 class="ad-progress-text">1/5</h6>
        </div>
    </div>
    <div class="freelancer-board main-inner-board">
        <h3><b> 많이 찾는 프로젝트 공고들<img src="images/3d_icons/file.png" style="cursor:pointer;" class="icons" onclick="location.href='/project/list/1'"> ></b></h3>
        <p>프로젝트를 시작해볼까요?</p>
        <div class="project-container">
            {{#projectList}}
                <div class="project-box" onclick="location.href='/project/detail/{{id}}'">
                    <img src="images/logos/sample-img.png" style="cursor:pointer;">
                    <h6><b>{{projectName}}</b></h6>
                    <p>{{job}}</p>
                    <h6><b>{{worktime}}</b></h6>
                    <p>{{period}}</p>
                </div>
            {{/projectList}}
        </div>
    </div>
    <div class="main-inner-board">
        <h3><b>다모아가 추천하는 기능 <img src="/images/3d_icons/tools.png" class="icons"> ></b></h3>
        <p>다모아의 다양한 기능들을 사용해보세요</p>
        <div class="reccomend-asset-container">
            <div class="asset-box">
                <h5><b>계좌 인증 및 등록하기 ></b></h5>
                <p>계좌 등록으로 더욱 편하게 다모아를 이용해보세요</p>
            </div>
            <div class="asset-box" onclick="location.href='/sign/list'">
                <h5><b>날인 등록하기 ></b></h5>
                <p>직접 사인하지 않아도 돼요</p>
            </div>
        </div>
    </div>
    <div class="project-board main-inner-board">
        <h3 onclick="location.href='/freelancer/list'"><b> 현재 핫한 프리랜서 개발자들<img src="/images/3d_icons/paper.png" class="icons"> ></b></h3>
        <p>함께 프로젝트를 시작해보세요</p>
    <div class="freelancer-container">
    {{#freelancerList}}
        <div class="freelancer-box" onclick="location.href='/freelancer/detail/{{userId}}'">
            <img src="/images/logos/freelancer-icon .png">
        <h5><b>{{username}}</b></h5>
            <p>{{jobPart}}</p>
            <h5><b>{{skills}}</b></h5>
            <p>{{workingStyle}}</p>
        </div>
    {{/freelancerList}}
</div>
    </div>
</div>
<img src="/images/ads/assets_ad.png">
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function(){
    // Slick 초기화
    $('.ad-inner').slick({
        autoplay: true,
        autoplaySpeed: 900,
        speed: 300, // 슬라이드 전환 속도 (밀리초 단위)
        fade: false, // 페이드 효과를 비활성화
        dots: false, // 점 버튼 제거
        arrows: false // 화살표를 직접 설정할 것이므로 기본 화살표 비활성화
    });

    // 광고 진행 상태 업데이트
    $('.ad-inner').on('afterChange', function(event, slick, currentSlide){
        $('.ad-progress-text').text((currentSlide + 1) + '/' + slick.slideCount);
    });

    // 이전 및 다음 버튼 클릭 이벤트 추가
    $('.left').click(function() {
        $('.ad-inner').slick('slickPrev');
    });

    $('.right').click(function() {
        $('.ad-inner').slick('slickNext');
    });

    // 슬라이드 전환 시 애니메이션을 위한 클래스 추가
    $('.left, .right').on('click', function() {
        // 현재 슬라이드를 먼저 숨기고
        $('.ad-inner').addClass('sliding');

        // 슬라이드를 전환한 후 애니메이션 제거
        setTimeout(function() {
            $('.ad-inner').removeClass('sliding');
        }, 300); // 슬라이드 전환 효과와 동일한 시간으로 설정
    });
});
        // 사이드바 토글 기능
    document.getElementById('toggleChatSidebar').addEventListener('click', function () {
        const chatbot = document.getElementById('chatbot');
        const chat = document.getElementById('chat');
            chatbot.style.display = 'block';
            chat.style.display = 'none'; // 챗 레이아웃 숨기기
    });

    // 사이드바 닫기 기능
    document.getElementById('closeChatSidebar').addEventListener('click', function () {
        const chatSidebar = document.getElementById('chatbot');
        const chatLayout = document.getElementById('chat');
        
        chatLayout.style.display = 'block'; // 챗 레이아웃 보이기
    });
</script>

{{>layout/footer}}
