
<!DOCTYPE html>
<html>
<head>
    <title>계좌 인증 페이지</title>
    <style type="text/css">
        footer{
            height: 200px;
            background: rgb(247,258,250);
        }
    </style>
</head>
<body>
    <header>
        <a>프로젝트 의뢰</a>
        <a>프리랜서 찾기</a>
        <a>프리랜서 등록하기</a>
        <a>프로젝트 등록하기</a>
    </header>
<h1>계좌 관리 페이지</h1>
<p>프로젝트 대금을 지급받을 계좌 정보를 등록해주세요.</p>
    <footer>
        <div class="footer-link-list">
            <a>프리랜서 이용 약관</a>
            <a>클라이언트 이용 약관</a>
            <a>고객센터</a>
            <a>개인정보 처리방침</a>
        </div>
    </footer>
</body>
</html>