{{> layout/header}}

 <h1>프리랜서 스킬 스택 관리</h1>

    <!-- 프리랜서의 스킬 스택이 있는지 확인 -->

    <ul>
        {{#freelancerSkills}}
        <li>{{name}} 
            <!-- 스킬 삭제 버튼 -->
            <form action="/freelancer/delete-skill" method="post" style="display: inline;">
                <input type="hidden" name="skillId" value="{{id}}">
                <button type="submit">삭제</button>
            </form>
        </li>
        {{/freelancerSkills}}
    </ul>

    {{^freelancerSkills}}
    <h2>등록된 스킬 스택이 없습니다</h2>
    {{/freelancerSkills}}

    <h2>스킬 스택 추가</h2>
    <!-- 스킬 스택 추가 폼 -->
    <form action="/freelancer/insert-skill" method="post">
        <label for="skills">추가할 스킬:</label>
        <select name="skillId" id="skills">
            {{#skills}}
            <option value="{{id}}">{{name}}</option>
            {{/skills}}
        </select>
        <button type="submit">추가</button>
    </form>

    <a href="/freelancer/skills">뒤로 가기</a>

{{> layout/footer}}
